__pycache__/
/.vscode
/data
/plots
/model/old
/model/gaussian_tanh
/model/single_gaussian
/model/single_gaussian_small
/model/wmse
/old
/results/inference
experiment.ipynb
loadVoxel.ipynb
weights.ipynb